<div class="col-12 mb-3 mt-3">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="/api/profile"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Profile</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
		  <li class="nav-item"><a class="nav-link px-2" href="/api/admin"><i class="fa fa-pencil"></i><span>Admin</span></a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="col-12 mb-3">
<div class="row p-3 justify-content-center">

	<div class="card p-3 mb-3 mx-2 col-lg">
		<h2>Osobné Údaje</h2>
		<hr/>
		<div class="row">
			<div class="col-md">
			
					<div class="row">
						<div class="col">
							<label>Meno</label>
							<h5>Štefan</h5>
						</div>
						<div class="col">
							<label>Priezvisko</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col-6">
							<label>Rodné priezvisko (iba pre ženy):</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Dátum narodenia:</label>
							<h5>15/9/1978</h5>
						</div>
						<div class="col">
							<label>Rodné číslo:</label>
							<h5>780915/6685</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Miesto narodenia:</label>
							<h5>Želiezovce</h5>
						</div>
						<div class="col">
							<label>č. OP:</label>
							<h5>XX222222</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>email</label>
							<h5>stefan_csomor@hotmail.com</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col">
							<label>Heslo (elektronická páska):</label>
							<h5>hahaha222</h5>
						</div>
						<div class="col">
							<label>Telefónne číslo:</label>
							<h5>0910 194 888</h5>
						</div>
					</div>
						
			</div>
			<hr/>
			<div class="col-md">
					
			</div>
		</div>	
	</div>
	
	
	<div class="card p-3 mb-3 mx-2 col-lg">
		<h2>Adresa:</h2>
		<hr/>
		<div class="row">
			<div class="col-md">
			
					<div class="row">
						<div class="col">
							<label>Meno</label>
							<h5>Štefan</h5>
						</div>
						<div class="col">
							<label>Priezvisko</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col-6">
							<label>Rodné priezvisko (iba pre ženy):</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Dátum narodenia:</label>
							<h5>15/9/1978</h5>
						</div>
						<div class="col">
							<label>Rodné číslo:</label>
							<h5>780915/6685</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Miesto narodenia:</label>
							<h5>Želiezovce</h5>
						</div>
						<div class="col">
							<label>č. OP:</label>
							<h5>XX222222</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>email</label>
							<h5>stefan_csomor@hotmail.com</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col">
							<label>Heslo (elektronická páska):</label>
							<h5>hahaha222</h5>
						</div>
						<div class="col-6">
							<label>Telefónne číslo:</label>
							<h5>0910 194 888</h5>
						</div>
					</div>
						
			</div>
			<hr/>
			<div class="col-md">
					
			</div>
		</div>	
	</div>
	
	
	<div class="card p-3 mb-3 mx-2 col-lg">
		<h2>Bankové Spojenie:</h2>
		<hr/>
		<div class="row">
			<div class="col-md">
			
					<div class="row">
						<div class="col">
							<label>Meno</label>
							<h5>Štefan</h5>
						</div>
						<div class="col">
							<label>Priezvisko</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col-6">
							<label>Rodné priezvisko (iba pre ženy):</label>
							<h5>Csomor</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Dátum narodenia:</label>
							<h5>15/9/1978</h5>
						</div>
						<div class="col">
							<label>Rodné číslo:</label>
							<h5>780915/6685</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>Miesto narodenia:</label>
							<h5>Želiezovce</h5>
						</div>
						<div class="col">
							<label>č. OP:</label>
							<h5>XX222222</h5>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label>email</label>
							<h5>stefan_csomor@hotmail.com</h5>
						</div>
					</div>
					
					<div class="row justify-content-end">
						<div class="col">
							<label>Heslo (elektronická páska):</label>
							<h5>hahaha222</h5>
						</div>
						<div class="col-6">
							<label>Telefónne číslo:</label>
							<h5>0910 194 888</h5>
						</div>
					</div>
						
			</div>
			<hr/>
			<div class="col-md">
					
			</div>
		</div>	
	</div>
	


</div
</div>