<div class="text-center mt-5">
<main class="form-signin w-50 m-auto">
<form action="register" method="POST">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

	<div class="form-floating">
      <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Name" required>
      <label for="floatingInput">Name</label>
    </div>
	<div class="form-floating">
      <input type="text" name="surname" class="form-control" id="floatingInput" placeholder="Surname" required>
      <label for="floatingInput">Surname</label>
    </div>
    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
  </form>
  </main>
</div>